<footer class="page-footer #1976d2 blue darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Mintic</h5>
          <p class="grey-text text-lighten-4">Mi pagina en Angular en VS code.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="">Ricardo</a></li>
            <li><a class="grey-text text-lighten-3" href="">Juan David</a></li>
            <li><a class="grey-text text-lighten-3" href="">Daniela</a></li>
            <li><a class="grey-text text-lighten-3" href="">Rafael</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
