<nav>
    <div class="nav-wrapper #00e676 green accent-3">
      <a href="#" class="brand-logo">UBER</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="activeSession"><a routerLink="/admin/get">Usuario</a></li>
        <li *ngIf="activeSession"><a routerLink="rutas/get">Rutas</a></li>
        <li *ngIf="activeSession"><a routerLink="estaciones/get">Estaciones</a></li>
        <li *ngIf="activeSession"><a routerLink="servicios/get">Servicios</a></li>
         <!-- Sesion -->
        <li *ngIf="!activeSession"><a routerLink="/seguridad/login">Login</a></li>
        <li *ngIf="activeSession"><a routerLink="/seguridad/logout">Cerrar Sesion</a></li>
        <li *ngIf="!activeSession"><a routerLink="/admin/create">Registrarse</a></li>
        
      </ul>
    </div>
  </nav>